<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>SocketIOChat</display-name>
	<servlet>
		<description>AtmosphereServlet</description>
		<servlet-name>AtmosphereServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<init-param>
			<param-name>socketio-transport</param-name>
			<param-value>websocket,xhr-polling,jsonp-polling</param-value>
		</init-param>
		<init-param>
			<param-name>socketio-timeout</param-name>
			<param-value>250000</param-value>
		</init-param>
		<init-param>
			<param-name>socketio-heartbeat</param-name>
			<param-value>150000</param-value>
		</init-param>
		<init-param>
			<param-name>socketio-suspendTime</param-name>
			<param-value>300000</param-value>
		</init-param>

		<load-on-startup>0</load-on-startup>
        <async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/chat/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>